<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">


        <div class="row center">
            <h1>registration numbers</h1>
        </div>
        <p class="eg center">e.g. CA 12346 <span>|</span> CJ 987-877 <span>|</span> CL 812</p>
        <div class=" row  center">
            <form action="/filteredTowns" method="GET">
                <select class="dropBox" name="options" value="">

                    <option value="default"> Select Town </option>
                    <option value="1" name="Cape Town"> Cape Town </option>
                    <option value="2" name="Paarl"> Paarl </option>
                    <option value="3" name="Bellville"> Bellville </option>
                    <option value='all' name="All">Show All</option>
                </select>
                <input type="submit" class="center">:Filter Button</input>
            </form>
        </div>

        <div class="row col-3 center">

            <form action="/registrations" method="POST">

                <div class="center">

                    <label class="" for="">registration_number:</label>

                    <input type="text" id="textfield2" name="regNumbers" placeholder="enter your registration..."
                        class="enterReg ">
                </div>

                <span class=" row center">

                    <button class="addBtn " type="submit" name="button">Add reg</button>

                </span>

            </form>
            <a href="/clearDb"> <button class="clearBtn" type="submit" name="button">clear Btn</button> </a>
        </div>

        <div class="infom center col-3" id="errorMsg"> {{messages.info}}
        </div>

        <div class="infom1 center col-3" id="errorMsg"> {{messages.green}}
        </div>

        <div class="clearReg center col-3" id="errorMsg"> {{messages.clear}}
        </div>

        <div class="semesies center col-3" id=""> {{messages.semesies}}
        </div>


        <form action="/registrations" method="POST">

            <ul class="" id="listItem">

                {{#each reg}}

                <li>{{this.reg_numbers}}</li>

                {{/each}}

            </ul>

        </form>

        <span>

            <div class="addRegBtn row ">

            </div>

            </form>


        </span>


    </div>

</body>
<script>


    setTimeout(function () {

        document.querySelector(".infom").innerHTML = "";
        document.querySelector(".infom1").innerHTML = "";
        document.querySelector(".clearReg").innerHTML = "";
        document.querySelector(".semesies").innerHTML = "";


    }, 3000);

</script>

</html>








{{!-- pattern="/^[A-Z0-9].{1,9}$/g" --}}
{{!-- "{{registrations.broughtBackData}} --}}
{{!-- //getElementById(".errorMsg").innerHTML = ""; --}}
{{!-- </div> --}}

{{!-- <div class="frame row col-3 center"> --}}
{{!-- <p class="eg">e.g. CA 12345 <span>|</span> CJ 987-888 <span>|</span> CL 812</p> --}}